# Absolute path to the feature-summary.json produced by parseFeature.js (optional, for experimenting with the script.)
# You can comment it out
# FEATURES_JSON_PATH=


# Absolute path to the cucumber project (where `cucumber-js` should run)
CUCUMBER_CWD=C:/path/to/cucumber/project/root